/* PHASE 1: Header */
body {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 500;
}

.header{
    background:red;
    color:white;
    border: solid;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-left: 100px;
    margin-right: 100px;
    border-left: 1px solid, white;
    border-right: 1px solid, white;
}

.header-logo{
    border-right: 1px solid white;
    font-weight: 700;
}

.header-logo:hover{
    background: black;
}

.header-list{
    border-right: 1px solid white;
    display: flex;
    justify-content: space-between;
}

.header-list > li{
    border-left: 1px solid white;
    padding: 20px;
}

.header-list > li:hover{
    background: black;
}

.header-logo a{
    color: white;
    padding: 20px;
    display: block;
    border-left: 1px solid white;
    text-decoration: none
}
