.main-nav {
  display: flex;
	justify-content: space-between;
	padding: 10px;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
  margin: auto;
  width: auto;
}

.left-nav {

  > ul {
    > li {
        font-family: Arial, Helvetica, sans-serif;
        font-size: smaller;
        text-transform: uppercase;
        margin: 2px;
        margin-right: 30px;
    }
  }

  span {

  }
}

.right-nav  {

  > ul {

    > li {
      font-family: Arial, Helvetica, sans-serif;
      font-size: smaller;
      text-transform: uppercase;
      background-color:#6288a5;
      color: white;
      margin: 2px;
      border: 2px solid;
      border-radius: 4px;
      padding: 4px;

    }

    > li:last-of-type {
      font-size:larger;
      background-color: white;
      color: black;
      border: none;
    }
  }
  
  i {

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: rgb(235, 235, 235);
  border: none
}

.right-nav ul li:hover {
  background-color: cornflowerblue;
  border: 2px solid cornflowerblue;
}


